.App {
  text-align: center;
}

body {
  background-image: url('../img/white.jpg');
  color: black;
  /* font-family: 'Courier New', Courier, monospace; */
}

button:hover{
  cursor:crosshair;
}

.divider {
  background-color: rgba(255, 255, 255, 0.144)
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}